/**
 * @description 本文件总结记录css中常用重要的代码片段，高内聚，低耦合
 * @author zhangyinggui <yingguizhang@126.com> 2020.08.12
 */

/**
 * css长度单位, 参考链接 https://www.runoob.com/cssref/css-units.html
 * https://developer.mozilla.org/zh-CN/docs/Learn/CSS/Building_blocks/Values_and_units
 * em, ex, %, px, cm, mm, in, pt, pc, ch, rem, vh, vw, vmin, vmax
 * 相对长度单位
 * em   当前元素的字体尺寸，一般浏览器字体默认为16px，故 2em == 32px
 * ex   英文字母小x的高度
 * ch   数字0的宽度
 * rem  root em 的缩写，作用于非根元素时，相对于根元素字体大小；作用于根元素时，相对于其初始字体大小
 * vw   viewpoint width, 视窗宽度，1vw==视窗宽度的1%
 * vh   viewpoint height, 视窗高度，1vh==视窗高度的1%
 * vmin vw和vh中较小的那个
 * vmax vw和vh中较大的那个
 * %    百分比
 *
 * 绝对长度单位
 * cm 厘米
 * mm 毫米
 * in 英寸，1in == 96px == 2.54cm
 * px 像素
 * pt point, 大约1/72英寸
 * pc pica, 大约6pt, 1/6英寸
 */


/* 边框阴影 */
.shadow {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
}

 /* 设置滑动条 */
.scrollbar {
    width: 200px;
    height: 200px;
    overflow: auto;
}
/* 定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸 */
.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #eaeaea;
}
/* 定义滚动条的轨道颜色、内阴影及圆角 */
.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* 定义滑块颜色、内阴影及圆角 */
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #cccccc;
}
/* 定义两端按钮的样式 */
.scrollbar::-webkit-scrollbar-button {
    display: none;
}
/* 定义右下角汇合处的样式 */
.scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}


/* 设置input placeholder字体样式 */
/* chrome/Opera/Safari */
input::-webkit-input-placeholder {
    color: #000;
}
/* Firefox 19+ */
input::-moz-placeholder {
    color: #000;
}
/* Firefox 18- */
input:-moz-placeholder {
    color: #000;
}
/* IE 10+ */
input:-ms-input-placeholder {
    color: #000;
}

/* 设置input聚焦样式 */
input:focus {
    /* 取消input边框 */
    border: none;
    outline: none;
}


/* 文字超出隐藏并显示省略号 */
/* 单行 */
.word-ellipsis-one {
    width: 20rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 多行 */
.word-ellipsis-more {
    width: 20rpx;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* 三角形 */
.triangle {
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
}

/* 表格边框合并 */
table, tr, td {
    border: 1px solid #000;
}
table {
    border-collapse: collapse;
}